<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nomeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- TODO: fai grant permission per notifiche -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NomeApp">

        <!--
        <receiver
            android:name="com.nomeapp.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->

        <activity android:name="com.nomeapp.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nomeapp.activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.UpdateProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.ShowProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.AddEventActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.ShowEventActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.UpdateMyEventActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.SearchUserActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.SearchEventActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.FollowersActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.FollowingActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.nomeapp.activities.FavouritesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
    </application>

</manifest>